# Multiclass Prediction in Deep Learning Models

## Read in the Data

In [1]:
# Import required packages
import pandas as pd
import numpy as np

from keras.models import Sequential
from keras.layers import Dense, Activation

In [2]:
# Read in the data
df = pd.read_csv('meet_or_beat.csv')

In [3]:
# Check dataset size
df.shape

(71968, 5)

In [4]:
# Preview dataframe
df.head(3)

    EPS  forecasted_eps  noOfEsts  after_total_returns  before_total_returns
0  2.01            1.67      11.0             0.051444              0.018585
1  0.17            0.19       6.0             0.112955             -0.000510
2 -0.07            0.14       4.0             0.077167             -0.046104

## Preparing the Data

In [5]:
# Generate the categorical outcome variable
df['earnings_outcome'] = np.nan
df.loc[(df['EPS']==df['forecasted_eps']), 'earnings_outcome'] = 'meet'
df.loc[(df['EPS']>df['forecasted_eps']), 'earnings_outcome'] = 'beat'
df.loc[(df['EPS']<df['forecasted_eps']), 'earnings_outcome'] = 'lose'
df.head()

,EPS,forecasted_eps,noOfEsts,after_total_returns,before_total_returns,earnings_outcome
0,2.01,1.67,11.0,0.051444,0.018585,beat
1,0.17,0.19,6.0,0.112955,-0.000510,lose
2,-0.07,0.14,4.0,0.077167,-0.046104,lose
3,0.48,0.51,8.0,-0.006130,-0.004899,lose
4,-0.24,-0.27,9.0,0.089762,-0.025466,beat

In [6]:
# Preview the output variable 
y = df['earnings_outcome']
y.values

array(['beat', 'lose', 'lose', ..., 'lose', 'beat', 'meet'], dtype=object)

In [7]:
# Encode earnings labels to integers
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
encoder.fit(y)
encoded_y = encoder.transform(y)
encoded_y

array([0, 1, 1, ..., 1, 0, 2])

In [8]:
# Save the unique number of labels for future use
number_of_classes = len(list(y.drop_duplicates()))
number_of_classes

3

In [9]:
# Convert labeled integers to a Keras `categorical` data type
from keras.utils.np_utils import to_categorical
y_categorical = to_categorical(encoded_y, num_classes=number_of_classes)
y_categorical

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       ...,
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.]], dtype=float32)

In [10]:
# Specify X (predictor) variables
X = df[['forecasted_eps',
              'before_total_returns','noOfEsts']]
X.head(3)

   forecasted_eps  before_total_returns  noOfEsts
0            1.67              0.018585      11.0
1            0.19             -0.000510       6.0
2            0.14             -0.046104       4.0

In [11]:
# Split into training and testing windows
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y_categorical, random_state=1)

In [12]:
# Preview the encoded data we're trying to predict
pd.DataFrame(y_train).head(5)

     0    1    2
0  0.0  1.0  0.0
1  1.0  0.0  0.0
2  1.0  0.0  0.0
3  0.0  1.0  0.0
4  1.0  0.0  0.0

In [13]:
# Check for class balance
pd.DataFrame(y_train).sum()

0    32924.0
1    16878.0
2     4174.0
dtype: float32

In [14]:
# Save the count of unique predictor variables for use in model
number_of_predictors = len(X.columns)
number_of_predictors
##len(X.columns)

3

## Building, Fitting and Predicting with Multiple Classes

In [15]:
# Build the neural network layers
model = Sequential()
model.add(Dense(9, input_dim=number_of_predictors, activation='relu'))
model.add(Dense(6, activation='relu'))

In [16]:
# Add the final output layer
# With the # of possible outputs equal to the number classes 
model.add(Dense(number_of_classes, activation='softmax'))

In [17]:
# Compile the model (with multi-class specific parameters)
model.compile(loss="categorical_crossentropy", 
              optimizer= "adam", 
              metrics=['categorical_accuracy'])

In [18]:
# Summarise the structure of the model
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 9)                 36

 dense_1 (Dense)             (None, 6)                 60

 dense_2 (Dense)             (None, 3)                 21

=================================================================
Total params: 117
Trainable params: 117
Non-trainable params: 0
_________________________________________________________________

In [19]:
# Fit the model
model.fit(X_train,y_train, 
                    epochs=20,
                    batch_size=1000,
                    shuffle=True)

Epoch 1/20
54/54 [==============================] - 1s 1ms/step - loss: 1.1813 - categorical_accuracy: 0.5737
Epoch 2/20
54/54 [==============================] - 0s 1ms/step - loss: 0.9911 - categorical_accuracy: 0.6047
Epoch 3/20
54/54 [==============================] - 0s 1ms/step - loss: 0.9337 - categorical_accuracy: 0.6097
Epoch 4/20
54/54 [==============================] - 0s 1ms/step - loss: 0.8968 - categorical_accuracy: 0.6097
Epoch 5/20
54/54 [==============================] - 0s 1ms/step - loss: 0.8798 - categorical_accuracy: 0.6098
Epoch 6/20
54/54 [==============================] - 0s 1ms/step - loss: 0.8733 - categorical_accuracy: 0.6095
Epoch 7/20
54/54 [==============================] - 0s 1ms/step - loss: 0.8696 - categorical_accuracy: 0.6094
Epoch 8/20
54/54 [==============================] - 0s 1ms/step - loss: 0.8667 - categorical_accuracy: 0.6094
Epoch 9/20
54/54 [==============================] - 0s 1ms/step - loss: 0.8643 - categorical_accuracy: 0.6096
Epoch 10/20
54/54 [==============================] - 0s 1ms/step - loss: 0.8621 - categorical_accuracy: 0.6095
Epoch 11/20
54/54 [==============================] - 0s 1ms/step - loss: 0.8600 - categorical_accuracy: 0.6096
Epoch 12/20
54/54 [==============================] - 0s 1ms/step - loss: 0.8581 - categorical_accuracy: 0.6096
Epoch 13/20
54/54 [==============================] - 0s 1ms/step - loss: 0.8565 - categorical_accuracy: 0.6096
Epoch 14/20
54/54 [==============================] - 0s 1ms/step - loss: 0.8551 - categorical_accuracy: 0.6093
Epoch 15/20
54/54 [==============================] - 0s 1ms/step - loss: 0.8534 - categorical_accuracy: 0.6097
Epoch 16/20
54/54 [==============================] - 0s 1ms/step - loss: 0.8518 - categorical_accuracy: 0.6098
Epoch 17/20
54/54 [==============================] - 0s 1ms/step - loss: 0.8505 - categorical_accuracy: 0.6100
Epoch 18/20
54/54 [==============================] - 0s 1ms/step - loss: 0.8490 - categorical_accuracy: 0.6099
Epoch 19/20
54/54 [==============================] - 0s 1ms/step - loss: 0.8478 - categorical_accuracy: 0.6099
Epoch 20/20
54/54 [==============================] - 0s 1ms/step - loss: 0.8467 - categorical_accuracy: 0.6099

In [20]:
# Evaluate model on the test data
model.evaluate(X_test,y_test, verbose=2)

563/563 - 0s - loss: 0.8435 - categorical_accuracy: 0.6151 - 460ms/epoch - 818us/step

[0.843493640422821, 0.6151067018508911]

In [21]:
# Save predictions on the test data
predictions = model.predict(X_test)
predictions

563/563 [==============================] - 0s 602us/step

array([[0.5954506 , 0.30379155, 0.10075786],
       [0.7983616 , 0.1562852 , 0.04535321],
       [0.5136362 , 0.39525053, 0.09111339],
       ...,
       [0.6651044 , 0.24765608, 0.0872395 ],
       [0.554858  , 0.34557343, 0.09956854],
       [0.4931656 , 0.3960596 , 0.11077484]], dtype=float32)

In [22]:
# Get the most likely prediction for each observation
most_likely = np.argmax(predictions, axis=1)
most_likely

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [23]:
# Convert most likely category back to original labels
most_likely = encoder.inverse_transform((most_likely))
most_likely

array(['beat', 'beat', 'beat', ..., 'beat', 'beat', 'beat'], dtype=object)

In [24]:
# Evaluate prediction balance
pd.DataFrame(most_likely).value_counts()

beat    17953
lose       39
dtype: int64